.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__column{
  width: 100%;
  display: flex;
  justify-content: space-between;
  

}


.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends{
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommended-friends__freind{
  height: 30px;
  width: 100%;

}

.recommended-friends__freind{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;


}
.recommended-friends__freind img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 10px;
}
.recommended-friends__freind >div{
  display: flex;
  align-items: center;
 
}
.recommended-friends__freind span{
  font-size: 11px;
  font-weight: bold;
  opacity: 0.8;
}

.recommended-friends__freind i{
  opacity: 0.8;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ffb0e0;
}